* {
    transition-duration: 0.5s;
    cursor: url('../img/huellaClara.cur'), auto;
}
.margen{
    margin-left: 20%;
}
body {
    background-color: rgba(0, 0, 0, 0.980);
}
/* Boton de eleccion de animal */
#animal {
    background: none;
    color: green;
    font-size: 120%;
    border: none;
    text-decoration:overline;
}
#animal:hover {
    color:brown;
    font-size: 130%;
    font-weight:bolder;
}
/* Head-Menu */
#head-main {
    cursor: url('../img/huellaOscura.cur'), auto;
    transition-duration: 500ms;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 2%;
    width: 80%;
    margin-left: 10%;
    font-size: 120%;
}
#head-main.scrolled{
    background-color: rgb(255, 217, 170);
    position: fixed;
    width: 10%;
    font-size: 80%;
    padding: 2%;
    font-size: 100%;
    flex-direction: column;
    height: 60%;
    text-align: center;
    margin-left: 0%;
}
#head-main a {
    color: green;
    text-decoration:overline;
}
#head-main a:hover {
    color:brown;
    font-size: 120%;
    font-weight:bolder;
}
/* Estilo del boton de cambio de css */
#color{
    border: 0px;
    background:none;
    font-size: 130%;
}
#color:hover {
    font-size: 150%;
    border: solid brown 2px;
}
/* Pequeña galeria de animales */
h1 {
    margin-top: 2%;
    color: white;
}
#galeria {
    display: flex;
    width: 80%;
    margin: 10%;
    margin-top: 0%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.animales-galeria img {
    width: 18vw;
    object-fit:scale-down;
    background-color: rgb(34, 34, 34);
    border: solid rgb(207, 194, 173) 2px;
    border-radius: 50%;
}
.animales-galeria img:hover {
    background-color: red;
    transform: scale(1.3);
    z-index: 1;
    transition-duration: 1s;
    border-radius: 10%;
}

/* El apartado de estilos de las razas */
.titulo {
    margin-left: 20%;
    color: white;
}
.raza{
    color: white;
}
.animales-raza {
    display: flex;
    justify-content: center;
    gap: 5%;
}
.textoRaza {
    background-color: rgb(255, 217, 170);
    color: brown;
    width: 60%;
    padding: 2%;
}
.textoRaza:hover {
    cursor: url('../img/huellaOscura.cur'), auto;
}
.raza5, .raza7{
    flex-direction: row-reverse;
}