* {
    cursor: url('../img/huellaClara.cur'), auto;
}
body {
    background-color: rgba(0, 0, 0, 0.980);
}
/* Boton de eleccion de animal */
#animal, #idioma {
    color: green;
}
#animal:hover, #idioma:hover {
    color:brown;
}
/* Head-Menu */
#head-main {
    cursor: url('../img/huellaOscura.cur'), auto;
    background-color: antiquewhite;
}
#head-main.scrolled{
    background-color: rgb(255, 217, 170);
}
#head-main a {
    color: green;
}
#head-main a:hover {
    color:brown;
}
/* Estilo del boton de cambio de css */
#color:hover {
    border: solid brown 2px;
}
/* Pequeña galeria de animales */
h1 {
    color: white;
}

.animales-galeria img {
    background-color: rgb(34, 34, 34);
    border: solid rgb(207, 194, 173) 2px;
}
.animales-galeria img:hover {
    background-color: red;
}

/* El apartado de estilos de las razas */
.titulo {
    color: white;
}
.raza{
    color: white;
}
.textoRaza {
    background-color: rgb(255, 217, 170);
    color: brown;
}
.textoRaza:hover {
    cursor: url('../img/huellaOscura.cur'), auto;
}
.raza5, .raza7{
    flex-direction: row-reverse;
}