* {
    cursor: url('../img/huellaOscura.cur'), auto;
}
body {
    background-color:  rgb(255, 225, 165);
}
/* Boton de eleccion de animal */
#animal, #idioma {
    color: rgb(98, 250, 255);
}
#animal:hover, #idioma:hover {
    color:violet;
}
/* Head-Menu */
#head-main {
    cursor: url('../img/huellaClara.cur'), auto;
    background-color: rgb(63, 63, 63);
}
#head-main.scrolled{
    background-color: rgb(63, 63, 63);
}
#head-main a {
    color: rgb(168, 162, 255);
}
#head-main a:hover {
    color:violet;
    cursor: url('../img/huellaOscura.cur'), auto;
}
/* Estilo del boton de cambio de css */
#color:hover {
    border: solid violet 2px;
}
/* Pequeña galeria de animales */
h1 {
    color: rgb(43, 43, 43);
}
.animales-galeria img {
    border: solid rgb(34, 34, 34) 2px;
    background-color: rgb(207, 194, 173);
}
.animales-galeria img:hover {
    background-color: violet;
}

/* El apartado de estilos de las razas */
.titulo {
    color: rgb(43, 43, 43);
}

.textoRaza {
    background-color: rgb(63, 63, 63);
    color: rgb(168, 162, 255);
}
.textoRaza:hover {
    cursor: url('../img/huellaClara.cur'), auto;
}
.raza6, .raza8{
    flex-direction: row-reverse;
}